div.board{
  cursor: pointer;
  position:relative;
  display: block;
  padding: 12px;
  margin: 24px;
  width: 250px;
  text-align: center;
  height: 500px;
  background-color: lightgray;
  color:black;
  border-radius: 24px;
  text-decoration: none;
  transition-duration: 500ms;
}
main.dark-mode div.board{
  background-color: #305888;
  color: white;
}
div.board:hover{
  box-shadow: 20px 20px;
}
div.board div.delete-button{
  position: absolute;
  right:15px;
  bottom:15px;
}
div.board img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
a.board{
  text-decoration: none;
}
